*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;

}
#image {
	padding-left: 0px;
}
.navbar{
	width: 100%;
	height: 80px;
	background-color: #141414;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
}
.navbar ul li a{
    width: 100%;
	height: 80px;
	background-color: #141414;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
    font-size: 45px;
    text-decoration: none
}
.navbar{
	position: sticky;
	top: 0;
}
.menu ul{
	display: flex;
	align-items: center;
}
.menu ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 12px;
	letter-spacing: 2px;
	font-size: 18px;
}
.menu ul li a:hover{
	border-bottom: 4px solid white;
	transition: 0.2s;
} 
.body{
	width: 100%;
	height: 180vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(deluxe1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.heading{
	width: 30%;
	text-align: center;
	color: #fff;
	font-size: larger;
}
.heading a{
	text-decoration: none;
	color: #000;
	font-size: 25px;
	font-weight: bold;
	border-radius: 45px;
	padding: 14px 50px;
	background-color: #fff;
	letter-spacing: 1px;
 	transition: all .2s ease-in;
}
.heading a:hover{
	letter-spacing: 0.2em;
}
.heading p{
	font-size: 18px;
}
.roomlist{
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.rooms{
	display: inline;
	text-align: center;
	border-radius: 12px;
}
.rooms h2{
	color: rgb(255, 255, 255);
	font-size: 35px;
	letter-spacing: 3px;
	border-radius: 1px;
	padding: 30px 30px;
	background-color: rgba(0, 0, 0, 0);
}
.rooms a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 18px;
	border-radius: 12px;
	padding: 12px 30px;
	background-color: #fff;
}
.rooms a:hover{
	background-color: #000;
	color:#ffffff;
	letter-spacing: 3px;
	transition: 0.6s;
}
.container{
	background-color: #fff;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-bottom: 1px;
	border-radius: 20px;
}
.container input{
	width: 400px;
	height: 50px;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
}
.container input[type=text]:focus{
	background-color: #e6e6e6;
}
.container h2{
	margin-left: 100px;
	margin-bottom: 40px;
	font-size: 40px;
}
.container button{
	width: 400px;
	height: 50px;
	margin-top: 20px;
	font-size: 20px;
	background-color: #141414;
	color: white;
	letter-spacing: 1px;
	transition: all .2s ease-in;
	border-radius: 20px;
	text-decoration: none;
}
.container button:hover{
	letter-spacing: 0.2em;
}
.container2{
	background-color: rgba(0, 0, 0, 0.345);
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-bottom: 1px;
	border-radius: 20px;
	color: #ffffff;
	text-align: center;
	font-size: x-large;
	vertical-align: text-top;
}
.container3{
	background-color: rgba(0, 0, 0, 0.374);
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-bottom: 1px;
	border-radius: 20px;
	color: #ffffff;
}
.containercenter{
	background-color: #fff;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-bottom: 1px;
	border-radius: 20px;
	text-align: center;
}
.reviewlist{
	width: 70%;
	display: inline;
	justify-content: space-around;
}
.label{
	color: white;
	margin-left: 55px;
	letter-spacing: 1px;
}
.transbox{
    width: 250px;
    height: 250px;
    margin: 30px;
	padding-top: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid black;
} 
.transbox p{
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
.footer{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-weight: bold;
}
.footer a:hover{
	border-bottom: 4px solid #000;
	transition: 0.2s;
}
.body2{
	width: 100%;
	height: 200vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-size: cover;
	background-color: #f2f2f2;
}
.body2 h1{
	background-color: #000;
	color: white;

}